/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.post, #inner-header {
  width: 1040px;
}

	#logo {

		.red {
			font-size: 4em;
		}

		.blue {
			font-size: 4em;
			letter-spacing: .7px;
		}
	}