/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.post, #inner-header, .nav {
  width: 1030px;
}

.contact-image, .about-bottom-row .image {
	height: 300px;
}

	#logo {

		.red {
			font-size: 3.91em;
		}

		.blue {
			font-size: 3.91em;
			letter-spacing: .7px;
		}
	}


